.container{
  background-color: #f7f7f7;
  height: 100vh;
}

.tip {
  font-size: 12px;
}

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.logo {
  height: 5rem;
}

.pd-vt {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*///////////////////////////
/////Horizontal Padding/////////////////
////////////////////////*/

.pd-hz {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
  }

.ht-100 {
    height: 100vh;
}
  
  /* For larger phones or tablets in portrait mode */
  @media (min-width: 480px) {
    .pd-hz {
      padding-left: 2rem; /* 32px */
      padding-right: 2rem; /* 32px */
    }
  }
  
  /* For tablets in landscape mode or small desktops */
  @media (min-width: 768px) {
    .pd-hz {
      padding-left: 4rem; /* 64px */
      padding-right: 4rem; /* 64px */
    }
  }
  
  /* For regular desktops */
  @media (min-width: 1024px) {
    .pd-hz {
      padding-left: 8rem; /* 128px */
      padding-right: 8rem; /* 128px */
    }
  }
  
  /* For large desktops or screens */
  @media (min-width: 1280px) {
    .pd-hz {
      padding-left: 12rem; /* 192px */
      padding-right: 12rem; /* 192px */
    }
  }
  
  
  @media (min-width: 1920px) {
    .pd-hz {
      padding-left: 16rem; /* 256px */
      padding-right: 16rem; /* 256px */
    }
  }


  form {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 6em auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  }
  
  input[type='text']:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 1em;
    background-color: #0088FB;
    color: #fff;
  }

  ul li:nth-child(odd) {
    background-color: #ffffff;
    border-bottom: solid 1px #ccc;
}

ul li {
  padding: 10px;
}
